/* You can add global styles to this file, and also import other style files */
.statuscolumn{
    width:80px;
    padding:0px!important;
}
.triggercolumn{
    width:150px;
}
.actioncolumn{
    width:50px;
}
