@{
    ViewData["Title"] = "Login Failure";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <header>
                <h2>@ViewData["Title"].</h2>
                <p class="text-danger">Unsuccessful login with service.</p>
            </header>
            </div>
</div>
</div>