@{
    ViewData["Title"] = "Forgot Password Confirmation";
}



<div class="jumbotron vertical-center">

    <div class="container text-center">
        <h1 class="text-success">Reset password confirmation sent <small><a asp-controller="Account" asp-action="Login">Login</a></small></h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <p class="text-center">Please check your email to reset your password.</p> 
            </div>


        </div>
    </div>

</div>