@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">Locked out. <small><a asp-controller="Account" asp-action="Login">Login</a></small></h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
