@model WebApplicationBasic.Models.AccountViewModels.RegisterViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<TriggerMe.Model.ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Register";
}  
<div class=" vertical-center">
    <div class="container">
        <div class="omb_login">
            <h3 class="omb_authTitle text-center">Signup or <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Login</a></h3>
            @Html.Partial("_ExternalProviders")
            <div class="row  omb_loginOr">
                <div class="col-sm-12 col-md-offset-3 col-md-6">
                    <hr class="omb_hrOr">
                    <span class="omb_spanOr">or</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-sm-offset-0 col-md-offset-3">
                    <form class="omb_loginForm" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div class="help-block" asp-validation-summary="ModelOnly"></div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" asp-for="Email" required class="form-control" name="email" placeholder="email address">
                        </div>
                        <span class="help-block" asp-validation-for="Email"></span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" required asp-for="Password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <span class="help-block" asp-validation-for="Password"></span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" required asp-for="ConfirmPassword" class="form-control" name="confirmPassword" placeholder="Confirm Password">
                        </div>
                        <span class="help-block" asp-validation-for="ConfirmPassword"></span>
                        <button class="btn btn-lg btn-success btn-block" type="submit">Create Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
