@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="jumbotron vertical-center">

    <div class="container text-center">
        <h2 class="text-success">Password reset </h2>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-success">  Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.</p>
            </div>


        </div>
    </div>

</div>