
@inject Microsoft.AspNetCore.Identity.SignInManager<TriggerMe.Model.ApplicationUser> SignInManager

<div class="row">
    <div class="col col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-0">
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

            <div class="row  omb_socialButtons">

                @{
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                    var index = 0;
                    @foreach (var provider in loginProviders)
                    {
                        <div  class="col  @(index == 0 ? "col-sm-offset-1" : "" ) col-xs-2 col-md-2  col-sm-2">
                   <button style="min-width:40px!important" value="@provider.AuthenticationScheme" name="provider" type="submit" href="#" class="btn btn-block omb_btn-@provider.AuthenticationScheme.ToString().ToLower()">
                                <i class="text-center fa fa-@(provider.AuthenticationScheme.ToString().ToLower().Equals("microsoft") ? "windows" : provider.AuthenticationScheme.ToString().ToLower().Equals("google") ? provider.AuthenticationScheme.ToString().ToLower() + "-plus" : provider.AuthenticationScheme.ToString().ToLower()) "></i>
                            </button>
                        </div>
                        index = index + 1;

                    }

                }

            </div>

        </form>
    </div>
</div>