@{
    ViewData["Title"] = "Error";
}



    <h1 class="text-muted text-center">Ooops</h1>
    <h2 class="text-muted text-center">We are sorry, something wen't wrong performing the request.</h2>
    <img class="center-block" src="~/Images/error.gif" />
